/*      front page      */
@media screen and (max-width:1000px) {
    .bar {
        width: 820px;
    }

    .bar ul {
        width: 540px;
    }

    .intro ul {
        gap: 80px;
    }

    .content p {
        width: 55%;
    }

    .more1 {
        margin: 0px 40px 0;
        width: 55%;
    }

    .more {
        width: 84vw;
    }

    .content .smalllogo {
        right: 80px;
        bottom: -10px;
    }

    .player,
    .marquee-container {
        width: 90%;
    }

    .info-photo1 {
        width: 80%;
        margin-right: 20px;
    }
}

@media screen and (max-width:820px) {
    #brand-text {
        font-size: 58px;
        padding-top: 40px;
    }

    .intro ul {
        gap: 40px;
    }

    .content .smalllogo {
        display: none;
    }

    .content p {
        width: 80vw;
    }

    .more1 {
        width: 80vw;
    }

    .info-photo1 {
        display: none;
    }

    .info-photo2 {
        display: block;
        width: 80%;
        margin-right: 60px;
    }
}

@media screen and (max-width:665px) {
    #brand-text {
        font-size: 48px;
        padding-top: 80px;
    }

    .contact img {
        display: none;
    }
}

@media screen and (max-width:576px) {
    #brand-text {
        letter-spacing: 18px;
        padding-top: 40px;
    }

    #notes {
        bottom: 120px;
      }
}

@media screen and (max-width:440px) {
    .wrapper{
        padding-bottom: 20px;
    }

    #brand-text {
        letter-spacing: 18px;
        padding-top: 0px;
    }

    .intro ul {
        margin: 20px auto 20px;
        gap: 30px;
    }
    .content p {
        width: 80%;
        margin: 20px 40px ;
    }

    .more1 {
        width: 80%;
        margin: 0px 40px 10px;
    }
    .more {
        width: 90%;
        margin: 20px auto;
    }
}

/*      header      */
@media screen and (max-width:1000px) {
    .logo-area {
        padding-left: 0px;
      }
    
    .logo-area p {
        letter-spacing: 2px;
    }

    .bar a {
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 820px) {
    .logo-area {
        margin-left: 20px;
    }

    .bar i {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .bar ul {
        flex-direction: column;
        position: absolute;
        background-color: rgba(1, 37, 91, 0.9);
        left: auto;
        right: 0;
        top: 50px;
        width: 230px;
        background: radial-gradient(circle at center, rgba(1, 37, 91, 1) 70%, rgba(1, 37, 91, 0));
        border-radius: 4px;
        opacity: 0;
        transition: opacity 1s ease;
        display: none;
    }

    .bar.active ul {
        opacity: 1;
        display: block;
    }

    ul li {
        list-style: none;
    }

    .bar > ul > li > a {
        display: block;
        padding: 8px;
    }

    .bar > ul > li > a:hover {
        color: #77fff3;
        font-weight: bold;
    }

    /* 子選單樣式 */
    .bar ul li ol {
        display: none;
        position: relative;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 0;
        
        transform: none;
        transition: all 0.3s ease;
    }

    .bar ul li.active ol {
        display: block; 
    }

    .bar li:hover > ol {
        display: none;
    }
    
    .bar ol a:hover {
        font-weight: bold;
    }

    .bar > ul > li > ol > li {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .bar > ul > li > ol > li > a {
        padding: 0 15px;
        line-height: 40px;
        text-align: center;
        width: 100%;
    }

    /* 為有子選單的項目添加下拉指示 */
    .bar > ul > li.has-submenu > a::after {
        content: '+';
        margin-left: 8px;
        display: inline-block;
    }

    .bar > ul > li.has-submenu.active > a::after {
        content: '-';
    }
}
/*      btn top      */
@media screen and (max-width:440px) {
    .btn-top svg {
        width: 30px;
      }
      
      .btn-top {
        position: fixed;
        bottom: 5px;
        right: 30px;
      
        z-index: 800;
      }
}

/*      about page      */
@media screen and (max-width:1000px) {
    .about-container {
        width: 95%;
    }

    .grid {
        gap: 20px;
    }

    .text-top-right .theme {
        font-size: 72px;
        width: 180px;
        height: 85px;
    }

}

@media screen and (max-width:820px) {

    .theme-rwd {
        display: block;
        margin: 100px auto 60px;
        text-align: center;
        width: 240px;
    }

    .theme-rwd .theme {
        font-size: 72px;
        height: 85px;
    }


    .text-top-right .theme {
        display: none;
    }

    .text-top-right .text {
        margin-top: 40px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0px;
    }


    .grid .photo {
        margin-left: 0px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 0 80px 0;
    }

    .text-top-right,
    .text-bottom-left,
    .text-bottom-right {
        grid-column: 1 / 2;
        padding: 0 80px 0;
    }

    .text-top-right {
        grid-row: 2 / 3;
    }

    .text-bottom-left {
        grid-row: 3 / 4;
    }

    .text-bottom-right {
        grid-row: 4 / 5;
    }
}

@media screen and (max-width:576px) {
    .theme-rwd .theme {
        margin: 0 auto;
        font-size: 52px;
        height: 62px;
        width: 160px;
    }
    .about-container {
        width: 100%;
    }

    .grid .photo {
        margin-left: 0px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 0 40px 0;
    }

    .text-top-right,
    .text-bottom-left,
    .text-bottom-right {
        grid-column: 1 / 2;
        padding: 0 40px 0;
    }

    .text-top-right .text {
        margin-top: 20px;
    }

    .about-container .title {
        font-size: 28px;
        height: 40px;
        max-width: 140px;
    }

    .grid .p {
        margin-top: 100px;
    }

    .about-container .text {
        font-size: 14px;
    }
}


@media screen and (max-width:440px) {
    .about-container .title {
        font-size: 24px;
        height: 30px;
        max-width: 120px;
    }
}

/*      portfolio page      */
@media screen and (max-width:1000px) {
    .port-kc .theme {
        width: 50%;
    }

    .type {
        padding: 70px 100px;
    }

    .type li {
        width: 180px;
        height: 60px;
        line-height: 60px;
    }

    .type a {
        font-size: 24px;
    }

    .video {
        width: 80%;
        border: 14px solid rgba(255, 255, 255, 0.4);
      }
}

@media screen and (max-width:820px) {
    
    .port-kc .theme {
        font-size: 82px;
        height: 96px;
        margin: 100px auto 0;
    }

    .type{
        flex-direction: column;
        align-items: center;
        gap:40px;
    }
    .type li {
        width: 240px;
        height: 80px;
        line-height: 80px;
    }

    .type a {
        font-size: 32px;
    }
}

@media screen and (max-width:576px) {
    .port-kc .theme {
        font-size: 56px;
        height: 66px;
        margin: 50px auto 0;
    }

    .type{
        gap:20px;
    }
    .type li {
        width: 240px;
        height: 60px;
        line-height: 60px;
    }

    .type a {
        font-size: 32px;
    }

    .video{
        border: 8px solid rgba(255, 255, 255, 0.4);
      }

    .portfolio .more{
        width: 90%;
        margin: 20px auto 60px;
    }
}
/* ---------- comp and arr music search ----------*/
@media screen and (max-width: 1000px) {
    .search-tags {
        gap: 4px;
        min-height: 34px;
    }

    .category-tabs {
        gap:0px
    }

    .result-item {
      width: calc(33.33% - 14px);
    }
  }
  
@media screen and (max-width:820px) {
    .title2{
        margin: 100px auto 0px;
        width: 300px;
        font-size: 58px;
        height: 70px;
    }
    .search-tags {
        gap: 4px;
        min-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .result-item {
        width: calc(50% - 10px);
    }
    
    #resultsList {
        gap: 15px;
    }
}

@media screen and (max-width:576px) {
    .search-area {
        margin: 50px auto 5px;
        gap: 0;  
        width: 85%;
    }

    .search-tags {
        gap: 4px;
        min-height: 24px;
    }

    .tutorial {
        width: 85%;
    }

    .category-tabs {
        width: 85%;
        gap: 5px;
        padding-bottom: 10px;
    }

    .category-tab {
        padding: 4px 4px;
    }

    .category-tabs span, .category-tabs i{
        font-size: 16px;
    }

    .tabs-group {
        display: none;
        width: 85%;
    }
    
    .content-tabs {
        gap: 5px;
        margin: 10px auto;
        font-size: 12px;
    }
      
    .content-tab {
        padding: 8px;
    }

    .search-tag {
        padding: 4px 8px;
        font-size: 12px;
      }

    .results-section {
        padding: 0px 20px;
    }
    
    .result-item {
        width: calc(100% - 10px);
        aspect-ratio: 5/2;
    }
}

@media screen and (max-width:440px) {
    .title2{
        margin: 100px auto 0px;
        width: 240px;
        font-size: 42px;
        height: 56px;
    }

    .search-area {
        margin: 50px auto 5px;
        width: 90%;
    }

    .tutorial {
        width: 90%;
    }

    .category-tabs {
        width: 90%;
    }

    .category-tabs span, .category-tabs i{
        font-size: 14px;
    }

    .tabs-group {
        display: none;
        width: 90%;
    }
}

/*      game music / sound page      */
@media screen and (max-width:1000px) {
    #mainVideo, #mainImage {
        width: 80%;
        border: 14px solid rgba(255, 255, 255, 0.4);
    }
}

@media screen and (max-width:820px) {    
    .film_page .title2, .sound_page .title2 {
        font-size: 52px;
        height: 62px;
        margin: 100px auto 0;
        border-bottom: 6px solid #77FFF3;
    }

    .video-player, .image-player{
        padding-top:10px
    }
}

@media screen and (max-width:576px) {
    .film_page .title2, .sound_page .title2 {
        font-size: 42px;
        height: 56px;
        /* margin: 50px auto 0; */
    }

    #mainVideo, #mainImage {
        border: 8px solid rgba(255, 255, 255, 0.4);
      }
}

/*      activities page      */
@media screen and (max-width:1000px) {
    body.act_page {
        height: 100%;
    }

    .album-container {
        max-width: 100%;
    }

    .album-tabs {
        font-size: 20px;
        height: 50px;
        line-height: 50px;
    }

    .album-grid {
        gap: 15px;
        padding: 20px;
    }
}

@media screen and (max-width:820px) {
    .act-kc .theme {
        right: 10vh;
    }

    .album-tabs {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
    }

    .album-grid {
        gap: 10px;
        padding: 20px;
    }
}

@media screen and (max-width:665px) {
    .act-kc .theme {
        font-size: 52px;
        width: 240px;
        height: 62px;
        position: initial;
        margin: -80px auto 0; 
    }

    .act-kc {
        margin: 25vh auto 0;
    }

    .album-container {
        margin: 60px auto 40px;
      }

    .album-tabs {
        font-size: 18px;
        height: 30px;
        line-height: 30px;
    }

    .album-grid {
        gap: 10px;
        padding: 20px;
    }
}

@media screen and (max-width:576px) {
    .album-tabs {
        font-size: 16px;
        height: 20px;
        line-height: 20px;
    }

    .album-grid {
        gap: 10px;
        padding: 20px;
    }
}

@media screen and (max-width:440px) {
    .album-grid {
        gap: 10px;
        padding: 10px;
    }
}


/* ---------- service page ----------*/

@media screen and (max-width:1000px) {
    .ser-kc .theme {
        width: 400px;
    }

    .countdown {
        width: 200px;
    }

    .countdown .time-remain,
    .countdown .clock {
        width: 200px;
    }

}

@media screen and (max-width:820px) {
    .ser-kc .theme {
        font-size: 82px;
        height: 96px;
        width: 360px;
    }

    .item, .item2{
        outline: 20px solid rgba(255, 255, 255, 0.3);
    }

    .countdown {
        width: 140px;
        height: 60px;
    }

    .countdown .time-remain,
    .countdown .clock {
        width: 140px;
        font-size: 14px;
        letter-spacing: 0px;
    }

    .item2 ul {
        flex-wrap: wrap;
        height: auto;

        margin: 0;
        padding: 0;
        border: none;
    }

    .item2 li {
        flex: 1 1 100%;
        height: 200px;
        line-height: 200px;
    }
}

@media screen and (max-width:672px) {
    .item, .item2{
        outline: 16px solid rgba(255, 255, 255, 0.3);
    }

    .ser-kc .theme {
        font-size: 60px;
        height: 70px;
        width: 240px;
    }
}

@media screen and (max-width:576px) {
    .item, .item2{
        outline: 16px solid rgba(255, 255, 255, 0.3);
    }

    .item-container {
        font-size: 24px;
        letter-spacing: 10px;
    }

    .countdown {
        width: 130px;
        height: 40px;
    }

    .countdown .time-remain,
    .countdown .clock {
        width: 130px;
        font-size: 12px;
    }
}

@media screen and (max-width:440px) {
    .item, .item2{
        outline: 12px solid rgba(255, 255, 255, 0.3);
    }

}

/*      contact page      */
@media screen and (max-width:1000px) {
    .contact-kc ul {
        gap: 20px;
    }

    .theme-container {
        max-width: 80%;
        margin: 300px 0px 60px;
    }

    .contact-kc .theme {
        width: 280px;
        font-size: 82px;
        height: 96px;
        margin-bottom: 10px;
    }

    .theme-container p {
        margin: 40px 0px;
        font-size: 18px;
        line-height: 1.4;
        width: 360px;
    }

    .info-photo1 {
        width: 80%;
        margin-right: 20px;
    }
}

@media screen and (max-width:820px) {
    .theme-container {
        margin: 80px 0px 0px;
        padding: 10px;
        max-width: 100%;
        box-sizing: border-box;
    }

    .theme-container p {
        display: none;
    }

    .form {
        margin: 20px 0px 0px;
        width: 80%;
        padding: 5px;

    }

    .info-photo1 {
        display: none;
    }

    .info-photo2 {
        display: block;
        width: 80%;
        margin-right: 60px;
    }
}

@media screen and (max-width:665px) {
    .form {
        margin: 20px 0px 0px;
    }

    .contact img {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .contact-kc .theme {
        width: 200px;
        font-size: 62px;
        height: 74px;
    }
}

@media screen and (max-width:440px) {
    .contact-kc ul {
        margin: 2vh auto;
      }
    
    .contact-kc .theme {
        width: 160px;
        font-size: 48px;
        height: 52px;
    }

    .form {
        margin: 0px 0px 0px;
        width: 80%;
    }

    .form input {  
        height: 26px;
    }

    ol {
        padding-bottom: 20px;
      }

      .form p {
        font-size: 18px;
        padding-bottom: 10px;
        height: 28px;
        padding-bottom: 0px;
      }
}

/*      footer     */
footer {
    font-size: 12px;
  }
