@import url(reset.css);

body{
    background-image: url(../image/service_bg.png);
    background-size: cover; 
    background-attachment: fixed;
    font-family: "Noto Sans TC", sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
    text-shadow: 0 2px 2px rgba(0,0,0,.7);
}

.wrapper {
    width: 1200px;
    padding-top: 80px;
    margin: 0 auto;
}

/* ---------- title ----------*/

.title{
    width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 500px;
    border-bottom: 8px solid #77FFF3;
    box-shadow: 0 2px 0px rgba(0,0,0,.5);
}

.title-container legend{
    font-size: 6em;
    height: 116px;
}


.subtitle-container{
    display: flex;
    margin: 80px auto 0;

    justify-content: space-between;
    width: 180px;
    border-bottom: 4px solid #77FFF3;
    box-shadow: 0 2px 0px rgba(0,0,0,.5);
}

h2{
    font-size: 2.4em;
    height: 50px;
    margin-top: 20px;
}

/* ---------- discount ----------*/
.item{
    background-image: url(../image/discount_photo.png);
    background-size: 100%;
    box-sizing: border-box;
    width: 1000px;
    outline: 24px solid rgba(255, 255, 255, 0.3);
    margin: 100px auto 0;

    display: flex;
    flex-direction: column;
}

.item-container {
    display: block;
    height: 280px;
    text-decoration: none;
    color: white;
    font-size: 2.4em;
    letter-spacing: 1.2em;
    line-height: 1.6;
    text-align: center;
} 
.item-container h3{
    padding: 40px;

}
.countdown {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    width: 230px;
    height: 80px;
    color: black;
    text-shadow: none;
    
    flex-direction: column;
    justify-content: center;
}

.countdown p{
    font-size: 1em;
    letter-spacing: 1.2em;
    line-height: 1.6;
    text-align: center;

}

.countdown .clock{
    font-size: 1em;
    letter-spacing: 0.3em;
    line-height: 1.6;
    text-align: center;
}

/* ---------- service ----------*/

.item2{
    background-color: rgba(255, 255, 255, 0.3);
    background-size: 100%;
    width: 1000px;

    outline: 24px solid rgba(255, 255, 255, 0.3);
    margin: 100px auto 0;
}

.item2 ul{
    width: 1000px;
    height: 300px;
    margin-bottom: 40px;

    display: flex;
}

.item2 li{
    background-size: cover;
    background-position: center center;
    border: 4px solid white;

    font-size: 2.4em;
    text-align: center;
    line-height: 300px;
    
    transition: .5s;
}


.item2-content1{
    background-image: url(../image/item1.png);
    flex-grow: 1;
    
    position: relative;
}

.item2-content1 a{
    text-decoration: none;
    color: white;
    display: block;
}

.item-content1 p{
    position: absolute;
    font-size: 4em;
    left: 50px;
    top: 50px;
}

.item2-content2{
    background-image: url(../image/item2.png);
    flex-grow: 1;
}

.item2-content2 a{
    text-decoration: none;
    color: white;
    display: block;
}

.item-content2 p{
    position: absolute;
    font-size: 4em;
    left: 0;
    top: 0;
}
.item2-content3{
    background-image: url(../image/item3.png);
    flex-grow: 1;
}

.item2-content3 a{
    text-decoration: none;
    color: white;
    display: block;
}

.item2-content4{
    background-image: url(../image/item4.png);
    flex-grow: 1;
}

.item2-content4 a{
    text-decoration: none;
    color: white;
    display: block;
}

.item2-content5{
    background-image: url(../image/item5.png);
    flex-grow: 1;
}

.item2-content5 a{
    text-decoration: none;
    color: white;
    display: block;
}

.item2-content6{
    background-image: url(../image/item6.png);
    flex-grow: 1;
}

.item2-content6 a{
    text-decoration: none;
    color: white;
    display: block;
}

.item2 li:hover{
    flex-grow: 3;
}

/* ---------- footer ----------*/
.footer {
    margin: 80px auto 0 ;
    text-align: center;
    height: 62px;
    line-height: 62px;
}