@import url(reset.css);

.header{
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000; 
    background: rgba(1, 37, 91, 0.6);
}

.bar {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 50px;
    align-items: center;
}

.bar img {
    height: 60%;
}

.bar img:hover{
    transform: scale(1.2);
}

.bar p {
    margin: 20px;
}

.bar ul {
    display: flex;
    /* outline: 1px solid red; */
    width: 700px;
    margin-left: auto;
}

.bar li {
    flex-grow: 1;
    position: relative;
    text-align: center;
}

.bar a {
    letter-spacing: 0.6;
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);


}

/* ---------- 子選單 ----------*/
.bar ol{
    position: absolute;
    display: none;
    letter-spacing: 0;
    background-color: rgba(1, 37, 91, .6);
    border-radius:0 0 20px 20px;
    padding: 0;
}

.bar ol li{
    text-align: center;
}

/* ---------- hover and show ----------*/
.bar a:hover{
    color: #77FFF3;
    /* font-weight: bold; */
    border-radius: 20px;
}
  
.bar ol a:hover{
    color: #77FFF3;
    /* font-weight: bold; */
    border-radius: 20px;
}
  
.bar li:hover ol{
    display: block;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    width: 230px; 
    z-index: 1000; 
}

/* ---------- back to the top ----------*/

html{
    scroll-behavior: smooth;
}

.btn-top svg{
    width: 40px;
}

.btn-top{
    position: fixed;
    bottom:30px;
    right:60px;

    z-index: 2000; 
}

.btn-top svg:hover path{
    stroke:#77FFF3;  
}

.btn-top svg:hover rect{
    fill-opacity: 1;
}