@import url(reset.css);

body {
    background-image: url(../image/portfolio_bg.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Noto Sans TC", sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;

}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* ---------- bar ----------*/
.bar {
    display: flex;
    height: 104px;

    align-items: center;
}

.bar img {
    height: 50%;
}

.bar p {
    font-size: 20px;
    margin: 20px;
}

.bar ul {
    display: flex;
    /* outline: 1px solid red; */
    width: 700px;
    margin-left: auto;
}

.bar li {
    flex-grow: 1;
    position: relative;
    text-align: center;
}

.bar a {
    letter-spacing: 1;
    text-decoration: none;
    color: white;
}

/* ---------- portfolio ----------*/

.portfolio{
    padding: 200px 0 40px;
}

.title-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 500px;
    border-bottom: 8px solid #77FFF3;
}

.title-container legend{
    font-size: 6em;
    height: 116px;
}

.type{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 100px;
}

.type li{
    border: 8px solid  #77FFF3;
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.type a{
    display: block;
    font-size: 3em;
    letter-spacing: 2;
    text-decoration: none;
    color: white;
}

/* ---------- content ----------*/

.subtitle-container{
    display: flex;
    margin: 60px auto 0;

    justify-content: space-between;
    width:140px;
    border-bottom: 4px solid #77FFF3;
}

h2{
    font-size: 2em;
    height: 40px;
    margin-top: 20px;
}

/* ---------- music player ----------*/
.player {
    margin: 40px auto 0;
    display: flex;
    width: 1100px;
    align-items: center;
    justify-content: center;
}

.player ul {
    display: flex;
    width: 1100px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.player li {
    width: 180px;
    box-sizing: border-box;
    margin-right: 20px;
    flex-shrink: 0;
}

.player img {
    width: 100%;
}

/*---------- arrow left and right ----------*/
.player a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: white;
    margin: 20px;
    opacity: 40%;
 
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


/*---------- more ----------*/
.content .more {
    color: white;
    display: flex;
    justify-content: right;
    padding-right: 126px;
    margin-top: 20px;
}

iframe{
    display: block;
    margin: 40px auto 20px;
}

.content .more2 {
    color: white;
    display: flex;
    justify-content: right;
    padding-right: 180px;
    margin-top: 20px;
}

/* ---------- footer ----------*/
.footer {
    margin: 40px auto 0;
    text-align: center;
    height: 62px;
    line-height: 62px;
}