@import url(reset.css);

body {
    background-image: url(../image/activities_bg.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Noto Sans TC", sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* ---------- bar ----------*/
.bar {
    display: flex;
    height: 104px;

    align-items: center;
}

.bar img {
    height: 50%;
}

.bar p {
    font-size: 20px;
    margin: 20px;
}

.bar ul {
    display: flex;
    /* outline: 1px solid red; */
    width: 700px;
    margin-left: auto;
}

.bar li {
    flex-grow: 1;
    position: relative;
    text-align: center;
}

.bar a {
    letter-spacing: 1;
    text-decoration: none;
    color: white;
}

/* ---------- title ----------*/

.title-container{
    margin: 500px 640px 140px;

    display: flex;
    justify-content: space-between;
    width: 500px;
    border-bottom: 8px solid #77FFF3;
}

.title-container legend{
    font-size: 6em;
    height: 116px;
}

/* ---------- album ----------*/
.album-container {
    margin: 0 auto 40px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.3);
}

.album-tabs {
    display: flex;
    font-size: 1.6em;
    text-decoration: none;
    color: white;
    height: 60px;
    line-height: 60px;
    justify-content: space-around;
    border-bottom: 1px solid #77FFF3;
    padding: 10px 0;
}

.album-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* cursor: pointer; */
    color: white;
    transition: transform 0.3s;
    transition: color 0.3s;
}

.album-tab:hover{
    transform: scale(1.1); color: #77FFF3;
    
}

.album-tab.active {
    color: #77FFF3;
}

.album-tab i {
    margin-bottom: 5px;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 40px 0;
}

.album-grid-item {
    aspect-ratio: 1/1;
    overflow: hidden;
}

.album-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.album-grid-item img:hover {
    transform: scale(1.1);
}

/* ---------- footer ----------*/
.footer {
    margin: 0 auto;
    text-align: center;
    height: 62px;
    line-height: 62px;
}