@import url(reset.css);

/* ---------- bar ----------*/
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: black; */
}

.bar {
    max-width: 1200px; 
    display: flex;
    height: 104px;
    padding: 0 270px;
    align-items: center;
}

.bar img {
    height: 50%;
}

.bar p {
    font-size: 20px;
    margin: 20px;
}

.bar ul {
    display: flex;
    /* outline: 1px solid red; */
    width: 700px;
    margin-left: auto;
}

.bar li {
    flex-grow: 1;
    position: relative;
    text-align: center;
}

.bar a {
    letter-spacing: 1;
    text-decoration: none;
    color: white;
}

/* ---------- body ----------*/
body {
    padding-top: 104px;
    background-image: url(../image/frontpage_bg.png);
    background-size: cover; 
    /* background-repeat: no-repeat; */
    background-attachment: fixed;

    font-family: "Noto Sans TC", sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* ---------- title ----------*/

.title-container{
    /* margin: 500px 640px 140px; */
    margin: 40px auto 80px;    

    display: flex;
    justify-content: space-between;
    width: 400px;
    border-bottom: 8px solid #77FFF3;
}

.title-container legend{
    font-size: 4em;
    height: 80px;
}

/* ---------- search----------*/
.search {
    display: flex;
    width: 900px;
    margin: 0 auto;

    justify-content: center;
    align-content: center;
}

.searchbar{
    width: 90%;
    height: 50px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border:0;
    border-radius: 12px;
}
.search i{
    display: block;
    font-size: 1.6em;
    line-height: 50px;
    padding-left: 16px;
}

/* ---------- list ----------*/
.category{
    margin: 40px auto;
}

.list{
    display: flex;
    width: 600px;
    margin: 0 180px;
    /* cursor: pointer; */
    color: white;
    transition: color 0.3s;
    margin-bottom: 40px;
}

.list-tag{
    flex-grow: 1;
    display: inline;
}

.list-tag:hover{
    color: #77FFF3;
}

.list-tag .active {
    color: #77FFF3;
}



/* ---------- tag ----------*/
.hashtag{
    display: flex;
    gap:12px;
    width: 860px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.tag{
    border: 1px solid #77FFF3;
    height:30px;
    letter-spacing: normal;
    text-align: center;
    line-height: 30px;
    padding:4px 10px;
    border-radius: 15px;
}

/* ---------- songs ----------*/
.songs{
    width: 860px;
    margin: 0 auto 200px;
}

.songs ul{
}

.songs li{
    display: flex;
    align-items: center;
    position: relative; 
    padding: 20px 0; 
}

.songs img{
    width: 60px;
    padding-right: 40px;
}
.songs p{
    font-size: 1.2em;
    margin: 0;
    flex-grow: 1; 
}
.songs i{
    font-size: 1.2em; 
}


.line{
    border-bottom: 1px dotted white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* ---------- player ----------*/

.player{
    width: 900px;
    margin: 0 auto;
    display: flex;
    position: relative; 
    align-items: center;    
}

.player img{
    width: 60px;
    padding-right: 40px;
}
.player .wave{
    width: 300px;
}

.player p{
    font-size: 1.2em;
    padding-right: 20px;
}

.player-function {
    font-size: 1.3em; 
    display: flex;
    width: 100%;
    justify-content: space-around; 
}

.player-function li {
    display: flex;
    align-items: center;
    justify-content: center;
}









/* ---------- footer ----------*/
.footer {
    margin: 0 auto;
    text-align: center;
    height: 62px;
    line-height: 62px;
}